body {
    background-color: #1b336b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 900;
    
}
h1{
    font-size: 9em;
    font-family: 'Waltograph',sans-serif;
    font-weight: 900;
    color: aliceblue;

}
/* allura-regular - latin */
@font-face {
    font-family: 'Waltograph';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/waltographUI.ttf')
   
  }