body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-weight: 500;
}
h1{
   font-size: 9em;
    font-family: 'DS-Digital', Dusit Supasawat;
    color: rgb(20, 20, 20);
    font-weight: 500;
}
@font-face {
    font-family: 'DS-Digital';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/DS-DIGIT.TTF')
    
  }