*{
    padding: 0%;
    margin: 0px;
    box-sizing: border-box;
}

.icons_style{
  color: rgb(13, 13, 14);
  font-size: 100%;
  padding-right: 5px;
}
.iconos{
    padding: 10px 10px 25px 10px;
}
nav{
    background-color: rgb(250, 250, 250);
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    border: 1px solid;
    border-bottom: none;
    border-top: none;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
.one{
    padding-top: 20px;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background:white;
    height: 100vh;
    position: relative;
    transition: all 500ms ease ; 
}
.cont-menu nav li{
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #202020;
    transition: all 400ms ease;
}
.cont-menu nav li:hover{
    background: rgb(233, 230, 230);
    font-size: 105%;
    width: 98%;
    color: rgb(10, 10, 10);
    border-radius: 2px;

}

