*{
    margin: 0;
    padding: 0;
}

    .row{
        background-color: rgb(255,241,89);
        padding: 10px 0;
    }
    li{
        list-style: none;
    }
    .logo{
        width: 60px;
    }
    .Busqueda{
        width: 500px;

        border-radius: 3px;
        font-size: 1em;
        outline: none;
        border: 1px solid white;
    }
    .boxBusquedas{
        display: flex;
        flex-direction: row;
        
    }
    .hamburger,.Car,.box-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
    .iconoLupa{
        width: 50px;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 7px 0px 0px 7px;
        padding:0px 5px;
    }
    .box-auto{
        width: 100%;
        height: 205px;
        background-color: rgb(226, 221, 221);
        border-bottom: 0.5px solid black;
        display: grid;
        grid-template: "box-img   box-info"250px /
                        1fr       2fr;
    }
    .box-img{
        grid-area: box-img;
        
        height: 200px;
    }
    .box-info{
        grid-area: box-info;
        height: 200px;
       
    }
    .precio{
        font-size: 2em;
        font-weight: 800;
        color: white;
        
    }


