h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: #ff0000;
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    
}
.perfil{
   
    font-size: 1em;
}
body{
    background-color:rgb(209, 193, 193) 
}
p{
    font-size: 1.5em;
    text-align: justify;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
.text1{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: rgb(255, 204, 204);
    border-style: solid ;
    border-color: black;
    border-radius: 4px;
    text-align: justify;
    font-size: 1.3em;
}
.text2{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: rgb(255, 204, 204);
    border-style: solid ;
    border-color: black;
    border-radius: 4px;
    text-align: justify;
    font-size: 1.3em;
}
.text3{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: rgb(255, 204, 204);
    border-style: solid ;
    border-color: black;
    border-radius: 4px;
    text-align: justify;
    font-size: 1.3em;
}