h1 {
    display: flex;
    margin: auto;
    text-align: center;
    justify-content: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 450%;
    color: #ff0000;
    padding: 0.5%;
    
    
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    border-radius: 50%;
    box-shadow: 15px 15px 15px rgb(1,77 ,77 );
}
.perfil{
   
    font-size: 100%;
    margin: auto;
}
body{
    background-color:rgb(209, 193, 193) 
}
p{
    font-size: 200%;
    text-align: justify;
    margin: auto;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
.text1{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    margin: 1.5em;
    background-color: darkcyan;
    border-radius: 7px;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    vertical-align: top;

}
.text2{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: darkcyan;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    border-radius: 7px;
    vertical-align: top;

}
.text3{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: darkcyan;
    border-radius: 7px;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    vertical-align: top;

}
ul,ol{
    list-style: none;
}
.nav li a{
    background-color: rgb(60, 50, 60);
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 19px 25px;
    
}

.nav li a:hover{
    background-color: black;
}
.nav li a {
    float: left;
      
}
.nav li ul{
    display: none;
    position: absolute;
    min-width: 140px;

}
.nav li:hover>ul{
    display: block;
}
.nav li ul li{
    position: relative;
}
.nav li ul li ul{
    left: 90px;
    top:0px;
    
}

.perfil{
    width: 100%;
    
    background: rgb(192, 163, 130);
    padding: 0px;
    float: left;  
}
.perfil:hover{
    height: 42vh;
    background: rgb(192, 163, 130);
}
/*nav{
    height: 100%;
    color: rgb(7, 7, 7);
}
nav>ul{
    height: 100%;
    display: inline-flex;
    text-decoration: none;
    list-style: none;
    
}

nav>ul>li{
    height: 100%;
    list-style: none;
    text-decoration: none;
    position: relative;
    float: left;
    
    

}
nav>ul>li>.menu2>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color:white;
   list-style: none;
   float: left;
   display: none;
}

.menu2{
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    list-style: none;
    float: left;
    display:none
}
a, .menu{
    text-decoration: none;
    list-style: none;
    float: left;
    display: block;

}
.menu{
    color: black;
    list-style: none;
    float: none;
    display: block;

}
.menu:hover{
    background: #f6f6f6;
    border-radius: 3px;
    font-size: 1em;
    float: left;
    display: block;
}*/
.row3, .row2, .row1{
    font-size: 120%;
    color: rgb(34, 33, 33);
    font-weight: 300;
    display:inline-block;
}

/*.row3>li a{
    float: left;
    display: none;
}

nav > .row3>.menu2>.menu1{
    float: left;
    display: block;
}
nav > .row3:hover{
    background-color: cadetblue;
    float: left;
    display: block;
    
}
.row3 :hover{
    background-color: cadetblue;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;

}
nav> ul>li>ul>.menu1>.menu{
    float: left;
    display: block;
}*/
/*
.row1 :hover{
    background-color: rgb(167, 118, 27);
    width: 15px;
    box-shadow: 8px 8px 10px rgb(73, 51, 9);
}*/

