h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 5em;
    color: #ff0000;
    
}
.imagen{
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: auto;
    border-radius: 7px;
    box-shadow: 15px 15px 15px rgb(1,77 ,77 );
}
.perfil{
   
    font-size: 1em;
}
body{
    background-color:rgb(209, 193, 193) 
}
p{
    font-size: 1.5em;
    text-align: justify;
    text-align: center;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
}
.text1{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    margin-left: 3.5em;
    background-color: darkcyan;
    border-radius: 7px;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    vertical-align: top;

}
.text2{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: darkcyan;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    border-radius: 7px;
    vertical-align: top;

}
.text3{
    display: inline-block;
    height: 200px;
    width: 300px;
    padding:1em;
    margin: 1.5em;
    background-color: darkcyan;
    border-radius: 7px;
    text-align: justify;
    font-size: 1.3em;
    box-shadow:15px 15px 15px rgb(1,77 ,77 ) ;
    vertical-align: top;

}
.perfil{
    width: 100%;
    background: rgb(192, 163, 130);
    padding: 0px;
}
nav{
    height: 100%;
    color: rgb(7, 7, 7);
}
nav>ul{
    height: 100%;
    display: inline-flex;
}

nav>ul>li{
    height: 100%;
    list-style: none;
    text-decoration: none;
    position: relative;

}
.menu2>li>a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    color:white;
   list-style: none;
}

.menu2{
    display: inline-flex;
    text-align: center;
    text-decoration: none;
    list-style: none;
}
a, .menu{
    text-decoration: none;
    list-style: none;
}

/*
.row1 :hover{
    background-color: rgb(167, 118, 27);
    width: 15px;
    box-shadow: 8px 8px 10px rgb(73, 51, 9);
}*/


