*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background:linear-gradient(45deg,black,grey,black)

   
}

.div-form{
    position: relative;
    width: 380px;
    height: 220px;
    background-color: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;

    
    
   /* From https://css.glass */
  /*   background: rgba(255, 255, 255, 0.51);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    box-shadow: 15px rgba(255, 255, 255, 0.51);


    -webkit-box-shadow: 21px -14px 56px 0px rgba(97,96,97,1);
    -moz-box-shadow: 21px -14px 56px 0px rgba(97,96,97,1);
    box-shadow: 21px -14px 56px 0px rgba(97,96,97,1);
    z-index: -2; */
}
.div-form::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%; 
    width: 380px;
    height: 220px;
    background: linear-gradient(0deg,transparent,#45f3ff,#7dff45);
    transform-origin:bottom right ;
    animation: animate 6s linear infinite;  
}
.div-form::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 380px;
    height: 220px;
    background: linear-gradient(0deg,transparent,#ff4545,#45f3ff);
    transform-origin:bottom right ;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
   
}
@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.form{
    position: absolute;
    inset: 5px;
    background-color: #28292d;  
    z-index: 10;
    border-radius: 8px;
    padding: 20px;
    display: block;
    text-align: center;  
   
}
h2{
    font-family: serif;
    font-size: 1.5em;
    color: white;
}
input{
    padding: 7px;
    border-radius: 12px;
    border: none;
}

select{
    padding: 3px;
    border-radius: 20px;
    background-color: azure;
}


button{
    display: flex;
    align-items:center;
    justify-content: center;
    margin: auto;
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
    background-color:#011826;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bolder;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    transition: .3s ease all;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}
button::after{
    content: "";
    width: 100%;
    height: 100%;
    background-color: #1d78b0;
    position: absolute;
    top:-80px ;
    left: 0;
    z-index: 1;
    transition: .3s ease-in-out all;
}

button a{
    position: relative;
    z-index: 2;
    color: white;
    transition: .3s ease all;
    text-decoration: none;
}
button:hover::after{
    top: 0;
}
.modal-alert{
    background-color: rgba(125, 127, 128, 0.872); 
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 60;
}
.box-alert{
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    z-index: 7;
}
.btn-aceptar{
    background-color: goldenrod;
    position: relative;
    left: 350px;
    top: 5%; 
    width: 100px;
    height: 50px;
    z-index: 8;
    cursor: pointer;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
}
.btn-aceptar:hover{
    background-color: rgba(230, 165, 59, 0.404);
    color: black;
}
.inactivo{
   display: none;
}
p{
    font-size: 2em;
    color: black;
    padding: 2rem 3rem;
}